@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
  --background-color: rgba(222, 218, 249, 0.72);
  --heading-color: aliceblue;
  --text-shadow: rgb(186, 189, 252);
  --border-color: rgb(45, 33, 111);
  --button-text-color: aliceblue;
  --text-color: rgb(27, 27, 80);
}
body {
  background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;           
}
@-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
}
  
@keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  
}
main {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(12, 12, 251, 0.3);
  border-radius: 3px;
}

H1 {
  text-align: center;
  color: var(--heading-color);
  text-shadow: 3px 2px 3px var(--text-shadow);
  font-size: 3.5rem;
  margin: 3rem 0 1rem 0 ;
}
img {
  height: auto;
  width: 100%;
}
.add-todo {
  height: auto;
  width: 2.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.form-box {
  background-color: var(--background-color);
  width: 55%;
  height: auto;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
}
.input-field {
  display: flex;
  gap: 4px;
  margin-bottom: 1rem;
}
.input-box {
  border: 2px solid var(--border-color);
  border-radius: 5px;
  margin-left: 1rem;
}
.trashcan, .edit {
  height: 1.5rem;
  width: 1.5rem;
  padding: 1px;
  filter: brightness(0) saturate(100%) invert(17%) sepia(12%) saturate(4996%) hue-rotate(211deg) brightness(78%) contrast(106%);
}
.edit-todo, .remove-todo {
  background-color: white;
  border: 2px solid var(--border-color);
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}
.buttons {
  display: flex;
  gap: 0.5rem;
  
}
.todo-List, li {
  padding: 0.5em;
  list-style: none;
  gap: 0.7rem;
  font-size: 1.2rem;
  color: var(--text-color);
  text-transform: capitalize;
}
.li-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--background-color);
}
input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: var(--text-color);
}
.clear-todo-list {
  background-color: var(--border-color);
  color: var(--button-text-color);
  padding: 0.5rem;
  margin-left: 60%;
  margin-top: 1rem;
  border-radius: 5px;
}