* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
  --background-color: aliceblue;
  --heading-color: aliceblue;
  --text-shadow: rgb(162, 209, 250);
  --border-color: rgb(27, 27, 80);
  --button-text-color: aliceblue;

}
body {
  background-image: url(./img/pawel-czerwinski-g0eRErPBoTA-unsplash.jpg);
}
H1 {
  text-align: center;
  color: var(--heading-color);
  text-shadow: 3px 2px 3px var(--text-shadow);
  font-size: 3.5rem;
  margin: 3rem 0 1rem 0 ;
}
img {
  height: auto;
  width: 100%;
}
.add-todo {
  height: auto;
  width: 2.5rem;
  background-color: var(--background-color);
  border: none
}
.form-box {
  background-color: var(--background-color);
  width: 55%;
  height: auto;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.input-field {
  display: flex;
  gap: 4px;
  margin-bottom: 1rem;
}
.input-box {
  border: 2px solid var(--border-color);
  margin-left: 1rem;
}
.trashcan, .edit {
  height: 1.5rem;
  width: 1.5rem;
}
.added-todos-list {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
.todo-list {
  
}
.checkbox {
  width: 1.5rem;
  height: 1.5rem;
}
.todo-List, li {
  grid-column: 1/-1;
  padding: 0.5em;
  list-style: none;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.clear-todo-list {
  background-color: var(--border-color);
  color: var(--button-text-color);
  /* border: 2px solid var(--border-color); */
  padding: 0.5rem;
  margin-left: 60%;
  margin-top: 1rem;
}